body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(./images/recipe-main-bg.png);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
    color: rgb(255, 255, 255);
    text-align: center;
    border: 5px groove;
    border-radius: 10px;
    margin: auto;
    box-sizing: border-box;width: 500px;
  }
img.zucchini, img.chickengarlicpizza, img.oreocheesecake {
  height:200px;width:225px;
}

img.zucchini {
  
}
h3.zucchini, h3.oreocheesecake, h3.chickengarlicpizza {
  font-size: 25px;
  border: rgb(128, 160, 91) ridge;
  border-radius: 4px;
  
}
.zucchini, .oreocheesecake {
  box-sizing: border-box;height: auto;width:235px
}
.chickengarlicpizza {
  box-sizing: border-box;height: auto; width: 272px;
}
